.post-wrap {
  max-width: 1000px;
}
body {
  font-size: 12pt;
}
.post-content code {
  padding: 2px 4px;
  background: $highlight-background;
  font-family: 'Source Code Pro', Monaco, Consolas, Courier New, monospace;
  font-size: 11pt;
}
